#nivel{
	position: relative;
	width: 80%;
	height:auto;
	top: 10%;
	text-align: center;
	left: 18%;
}

#nivel, #balao p{
	color: #111;
	font-size: 20px;
	font-family: "Arial", Times, serif;
}

#nivel select{
	font-size: 20px;
	border-radius: 4px;
	color: #111;
}

#nivel img{
	position: absolute;
	left: 48.5%;
}

.painel{
	position: absolute;
	width: 12%;
	height: 500px;
	right: 60%;
	top:35%;
	background: #FFF;
	border: solid 1px #A2A2A2;
	margin-right: 5px;
}
#cenario div{
	height: auto;
}

#cenario{
	position: absolute;
	float: flex; 
	width: 600px;
	height: 500px;
	left: 40%;
	top:35%;
	margin-bottom: 3%;
	background: url('imagens/cenario.png'); 
	background-position: bottom;
}

#baloes_inteiros, #baloes_estourados{
	font-size: 40px;
}

#tempo{
	border:0;
	width: 140px;
	height: 132px;
}

#tempo td{
	background: url('imagens/cronometro.png'); 
	text-align:center;
}

#tempo td #cronometro{
	color: red;
	font-size: 30px;
}

#resposta{
	position: absolute;
	left: 29%;
	top: 28.5%;
	font-size: 25px;
}

input{
	width: 33%;
	height: 30px;	
	border: none;
}

#again{
	width: 22%;
	height: 35px;
	left: 62%;
	top: 28%;
	position: absolute;
	border-radius: 8px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	background-color: #9E93CA;
	border-bottom: 1px solid #6495ED;
	border-right: 1px solid #6495ED;
}

